version: "3.9"

services:
  maple-nas-webhook:
    build: .
    container_name: maple-nas-webhook
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data
    restart: unless-stopped
